.wrapper{
    display: flex;
    position: relative;
    background: rgb(242, 246, 250) !important;
}

@media only screen and (min-width: 320px)  and (max-width: 768px){
    .wrapper{
    padding: 2rem 1rem;
}
}

.flex {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: #fff !important;
    padding: 3rem 2rem;
    /* height: 100vh; */
}